In [1]:
#1a using the math module print the square root of 9,16,24,and 81

In [4]:
import math 
# list of numbers
numbers=[9,16,24,81]
# calculate and print the square roots
for num in numbers:
    print(f"square root of {numbers} is math.sqrt(num))")

square root of [9, 16, 24, 81] is math.sqrt(num))
square root of [9, 16, 24, 81] is math.sqrt(num))
square root of [9, 16, 24, 81] is math.sqrt(num))
square root of [9, 16, 24, 81] is math.sqrt(num))

In [6]:
#1b mulitipy each answer in question1 by 2
import math
# list of numbers 
numbers = [9,16,24,81]
#calculate, mutiply by 2 and print the result for num in numbers: 
result = math.sqrt(num)* 2
print(f"2* square root of (num)is {result}")

2* square root of (num)is 18.0

In [8]:
2#using the random module generate a random number between 10 and 50
import random 
random.randint(10,50)

21

In [9]:
3#convert the '123' into an integer
x='123'
int(x)

123

In [18]:
4#convert the number 5.9 into an integer
x =5.9
int(x)

5

In [10]:
5#convert the number 27 into a string
y = 27
str(y)

'27'

In [12]:
6#using the for loop print numbers from 1 to 20
for numbers in range (1,21):
    print(numbers)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [15]:
7# using the for loop,print the square of each number from 1 to 5
for numbers in range(1,6):
    print(numbers**2)

1
4
9
16
25

In [17]:
8# given a list of names print each name in upper case.
names = ['Ammi','joy','bobo']
names.append('Ammi')
names.append('joy')
names.append('bobo')
names

['Ammi', 'joy', 'bobo', 'Ammi', 'joy', 'bobo']